<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<title>Example: @geolonia/mbgl-export-control</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
     <!-- <div 
       id="map" 
       data-geojson="https://magokoromotomachi.github.io/geojson-api/saitama_city_kyotaku.json"
       data-cluster="off"
       data-fullscreen-control="on"
     ></div> -->
     <div id="map"></div>

    <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
    <!-- <script src="/javascripts/create_map.js"></script> -->
    <script src="/javascripts/3d_map.js"></script>
</body>
</html>
