<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <div>
        <a href="/map">Map</a>
    </div>
    <div>
        <a href="/3d-map">3D Map</a>
    </div>
    <div>
        <a href="/export-map">Export Map</a>
    </div>
    <div>
        <a href="/business-map">Business Map</a>
    </div>
    <div>
        <a href="/canvas-download">Canvas Download</a>
    </div>
    <div>
        <a href="/map">Map</a>
    </div>
</body>

</html>