<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="True" />
	<title>サイトタイトル</title>
	<link rel="icon" href="favicon.ico" type="image/png">
	<!-- <link rel="canonical" href="サイトURL"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div
        class="geolonia"
        data-lat="34.652499"
        data-lng="135.506306"
        data-zoom="16"
        data-pitch="60"
    >ここは <strong>通天閣</strong> です。</div>
  <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
</body>

</html>